{% extends "utils/base.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>{{ greeting }}</p>

	<!-- 150px - сдвиг, чтоб не попасть под плашку темы письма в Inbox
		Такой же сдвиг также в event.html для якоря ивента
	-->
	<a name="events_list" style="position:relative; top:-150px;"></a>

<h2>Список подій:</h2>

<ul>
	{% if special_events %}
		{% for event in special_events %}
			<li><a href="#event{{event.id}}">{{ event.title | safe }}</a> {% include "utils/level_sign.html" %}</li>
		{% endfor %}
	{% endif %}
	
	{% for event in events %}
		{% if event.special == False %}
			<li><a href="#event{{event.id}}">{{ event.title | safe }}</a> {% include "utils/level_sign.html" %}</li>
		{% endif %}
	{% endfor %}
	<font size="1" color="gray">
		<b>Підказка:</b> символи <span style="color: green">●</span> <span style="color: yellow">▲</span>
		<span style="color: red">■</span> позначають приблизну складність входження.	
		<span style="color: green">●</span> - trainee, <span style="color: yellow">▲</span> - junior,
		<span style="color: red">■</span> - middle.
	</font>
	<br><a href="http://itkpi.pp.ua/events">Більше подій <b>на сайті</b></a> 
</ul>

{% if special_events %}
	{% for event in special_events %}
		{% include "utils/event_special.html" %}
	{% endfor %}
{%endif%}

{% for event in events %}
	{% if event.special == False %}
		{% include "utils/event.html" %}
	{% endif %}
{% endfor %}

<center><a href="http://itkpi.pp.ua/events">Більше подій на сайті</a></center>
<hr>

{% endblock %}
