{% block event_content %}
	
	<!-- 150px - сдвиг, чтоб не попасть под плашку темы письма в Inbox
		Такой же сдвиг также в digest_new.html для якоря списка ивентов
	-->
	<a name="event{{ event.id }}" style="position:relative; top:-150px;"></a> 

	<h3>{{ event.title }} {% include "utils/level_sign.html" %}</h3>


	<p>
		{{ event.agenda | safe }}
	</p>


	{% if event.when_start %}
		<p><b>Дата і час: </b>
			{% if not event.only_date %}
				{{ event.when_start | date("%d.%m %a %H:%M") }}
			{% else %}
				{{ event.when_start | date("%d.%m %a") }}
			{% endif %}

			{% if event.when_end %}
			 – 
			{% if not event.only_date %}
				{{ event.when_end | date("%d.%m %a %H:%M") }}
			{% else %}
				{{ event.when_end | date("%d.%m %a") }}
			{% endif %}

			{% endif %}
		</p>
	{% endif %}


	<p>
		<b>Місце: </b>
		{% if event.place.startswith("Онлайн") %}
			{% if event.place[6:8] == " +" %}
				Онлайн + <a href="https://www.google.com/maps?q={{ event.place|slice(8,None) }}">{{ event.place|slice(8,None) }}</a>
			{% else %}
				{{ event.place | safe }}
			{% endif %}
		{% else %}
		<a href="https://www.google.com/maps?q={{ event.place }}">{{ event.place | safe }}</a>
		{% endif %}
	</p>

	{% if event.social %}
	<p>
		{{ event.social | safe }}
	</p>
	{% endif %}
	<p>
		<b><a href="{{ event.registration_url | safe }}">Реєстрація</a></b>
	</p>

	{% if event.image_url %}
		<center><a href="{{ event.registration_url | safe }}"><img src="{{ event.image_url }}" alt="image for {{ event.title }}" style="width:500px" /></a></center>
	{% endif %}

	<p>
		<a href="#events_list">↑ До списку подій</a>
	</p>

	<hr />

{% endblock %}
